html {
  position: relative;
  min-height: 100%;
}
body {
 /* this code gives a background image  */
    background-image: url(../img/car.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
table, th, td {
     border-collapse: collapse;
     border: 1px solid black;
     text-align: center;
     /* Shadow  for the table background:  */
     box-shadow: 0 5px 15px;
}
 table {
     border-collapse: collapse;
     width:100%;
     box-shadow: 0 5px 15px;
     background-color: white;
/* Shadow  for the table background:  */
     opacity: 0.7;
}
 td, th {
     border: 1px solid #ced4da;
     padding: 0.5rem;
     text-align: left;
}
 th {
     font-weight: bold;
}
.selected {
            background-color: #e60e2080;
 /* transparency to the selector */
            opacity: 0,9;
            color: #FFF;
}
.row{

background-color:rgba(255, 255, 255, 0.247);
 /* transparency for the row background:  */
opacity: 0,9;
}
#outerbox{
    width: 800px;
    overflow: hidden;
}
/* sliderbox  it slides all the pictures   */
#sliderbox{
    position: relative;
    width: 6400px;
    animation-name: janelas;
    /* animation animation-duration:  it is a timer to slides all the pictures takes 20 seconds   */
    animation-duration: 20s;
    animation-iteration-count: infinite;
  
}
/* sliderbox  it slides all the pictures  to the left */
#sliderbox img{
    float: left;
}
/* keyframe it is the timer pocentage to slides all the pictures    */
@keyframes janelas{
 0%
    {        left: 0px;
    }

20%{left: 0px;

}25%{
    left: -800px;
}
45%
{
    left: -800px;
}
50%
{
    left: -1600px;
}
70%{
    left: -1600px;
}
75%{
    left: -2400;
}
95%{
    left: -2400px;
}100%{
    left: -800px;
}

}